# dependencies
node_modules

# env
.env
backend/.env

# build
dist
build
web-build

# Expo
.expo
.expo-shared

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor / OS
.vscode
.DS_Store
Thumbs.db
